# Virtual environment
venv/

# Dataset (too large for GitHub - each team member downloads separately)
data2019_miniscale/
data2017_miniscale/
*.tar.gz

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
